/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# emacs crap
\#*\#
.\#*

# rspec failure tracking
.rspec_status

# state files
lazyauth.yml
lazyauth.db
lazyauth.sqlite

# uh gems?
*.gem

Gemfile.lock
